*{
    box-sizing:border-box;
}


body{

    margin:0;

    background:
    linear-gradient(
    135deg,
    #f5f1ff,
    #ffffff
    );

    font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Pretendard",
    sans-serif;

    color:#222;

}



.page{

    max-width:1200px;
    margin:auto;
    padding:50px;

}



header{

    margin-bottom:30px;

}


.logo{

    font-size:14px;
    letter-spacing:5px;

}



h1{

    font-size:70px;
    margin:20px 0 0;

    font-weight:700;

}


header p{

    color:#777;
    line-height:1.8;

}



/* sticker area */


.memory-board{

    position:relative;

    height:700px;

    background:
    rgba(255,255,255,.55);

    border-radius:40px;

    backdrop-filter:blur(20px);

    box-shadow:
    0 20px 60px rgba(0,0,0,.08);

}





.sticker{

    position:absolute;

    cursor:pointer;

    transition:.35s;

}



.sticker img{

    width:100%;

    filter:
    drop-shadow(
    0 20px 20px rgba(0,0,0,.15)
    );

}



.sticker:hover{

    transform:
    scale(1.08)
    rotate(0deg)
    !important;

}



/* positions */


.spider{

    width:170px;

    top:40px;
    left:80px;

    transform:rotate(-5deg);

}



.gamjatang{

    width:260px;

    left:40px;
    bottom:80px;

    transform:rotate(4deg);

}



.gwangheo{

    width:240px;

    right:80px;
    top:80px;

    transform:rotate(-3deg);

}



.pasta{

    width:270px;

    left:390px;
    bottom:80px;

    transform:rotate(3deg);

}



.soju{

    width:150px;

    right:320px;
    top:300px;

}



.starbucks{

    width:250px;

    left:100px;
    top:350px;

}



.handwash{

    width:150px;

    right:100px;
    bottom:70px;

}



/* chat */


.chat-box{

    position:fixed;

    right:50px;

    bottom:50px;

    width:330px;

    min-height:150px;

    background:white;

    border-radius:25px;

    padding:25px;

    box-shadow:
    0 20px 40px rgba(0,0,0,.12);

}



.chat-title{

    color:#888;

    font-size:14px;

    margin-bottom:20px;

}



.message{

    background:#f4eaff;

    padding:15px;

    border-radius:18px;

    margin-top:12px;

    animation:
    appear .4s ease;

    white-space:pre-line;

}



@keyframes appear{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:none;

}

}
